<div class="footersec hey ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-6">
                <div class="row">
                    <div class="col-md-6">
                        <h5>CONTACT US</h5>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>xyz</li>
                            <li>xyz street</li>
                            <li>XYZ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>SERVICES</h5>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li>Contact Us</li>
                            <li>Ordering &amp; Payment</li>
                            <li>Shipping</li>
                            <a href="/faq">
                                <li>FAQ</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="row">
                    <div class="col-md-5">
                        <h5>INFORMATION</h5>
                    </div>
                    <div class="col-md-7">
                        <ul>
                            <li>About</li>
                            <li>Work With Us</li>
                            <li>Privacy Policy</li>
                            <li>Terms &amp; Conditions</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 copy-right">
                <ul class="icons">
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-facebook-f"></i></li>
                </ul>
                <br>
                <h6>&copy;Name</h6>
            </div>
        </div>
    </div>
</div>

<!-- Custom JS File -->
<script type="text/javascript" src="/js/script.js"></script>

<!-- JS, Popper.js, and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="/js/jquery.ripples-min.js"></script>

<script>
    AOS.init({
        duration: 2000
    });
</script>
</body>

</html>