body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
    }
    .filepond--item {
      width: 140px;
      height: 200px;
    }
    p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
    }

    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }

    .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }

    .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
    }

    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    .hide {
      display: none;
    }

    .wrapper {
      display: flex;
      width: 100%;
    }

    #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background: #212121 !important;
      color: #fff !important;
      transition: all 0.3s;
    }

    #sidebar.active {
      margin-left: -250px;
    }

    #sidebar .sidebar-header {
      padding: 20px;
      background: #121212 !important;
    }

    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #e0e0e0;
    }

    #sidebar ul p {
      color: #fff !important;
      padding: 10px;
    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }

    #sidebar ul li a:hover {
      color: black !important;
      background: rgba(255, 255, 255, 0.9);
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
      color: black !important;
      background: #fff;
    }

    a[data-toggle="collapse"] {
      position: relative;
    }

    .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

    #content {
      width: calc(100% - 250px);
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
    }

    #content.active {
      width: 100%;
    }

    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
        width: 50%
      }
      .sidebar-header #sidebar-header-icon{
        display: block;
      }

      #content {
        width: 100%;
      }

      #content.active {
        width: calc(100% - 250px);
      }

      #sidebarCollapse span {
        display: none;
      }
    }
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid #222;
  float: none;
  display: block;
  /* margin-left: 15px; */
  pointer-events: none;
}
.adminname {
  display: block;
  float: none;
  margin-top: -10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3vmin;
  color: #888;
  font-weight: 600;
  margin-left: 15px;
}
#sidebar ul li .adminlogo:hover {
  background-color: transparent;
  transition: none;
}
/* Modal */
 @keyframes fade-scale {
	 0% {
		 opacity: 0.8;
		 transform: scale(0.8);
	}
	 50% {
		 opacity: 0.9;
		 transform: scale(1.2);
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes anim-effect-sonar {
	 0% {
		 transform: scale3d(0, 0, 1);
	}
	 to {
		 transform: scale3d(1, 1, 1);
	}
}
 .modal2 ul {
	 padding: 0;
	 list-style: none;
}
 .modal2 {
	 opacity: 0;
	 visibility: hidden;
	 position: fixed;
   top: -50px;
   /* left: 0; */
   z-index: 1050;
	 width: 800px;
	 padding-bottom: 0;
	 border-radius: 3px;
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	 background-color: #F5F5F5;
	 transition: visibility 0s ease-in-out 300ms, opacity 300ms ease-in-out;
	 margin: 5% auto 0 auto;
   color: #000;
}
 .modal2::after {
	 clear: both;
	 content: "";
	 display: table;
}
 .modal2-body {
	 padding-top: 30px;
	 padding-bottom: 40px;
   max-height: calc(100vh - 50px);
   overflow-y: auto;
   /* margin-left: 20px; */
   /* margin-right: 20px; */
}
 .modal2-body::after {
	 clear: both;
	 content: "";
	 display: table;
}
 .modal2-header {
	 text-align: center;
}
 .modal2-title {
	 font-weight: bold;
	 margin-bottom: 0;
   font-size: 25px;
}
 .modal2-label {
	 margin-top: 5px;
	 font-size: 12px;
	 text-transform: uppercase;
	 opacity: 0.8;
   color: #000;
}
 .modal2-image {
	 width: 100%;
	 /* float: left; */
}
 .modal2-info {
	 /* float: left; */
	 width: 100%;
}
 .modal2-actions {
	 width: 100%;
}
 .item-count {
	 font-size: 18px;
	 font-weight: bold;
}
 .item-description {
	 font-size: 17px;
   color: #000;
}
 .modal2-close {
	 height: 20px;
	 width: 20px;
	 position: absolute;
	 top: 20px;
	 right: 20px;
	 cursor: pointer;
}
 .modal2-close:after {
	 content: '';
	 position: absolute;
	 top: 10px;
	 right: 2px;
	 width: 15px;
	 height: 2px;
	 background-color: #333;
	 transform: rotate(45deg);
}
 .modal2-close:before {
	 content: '';
	 position: absolute;
	 top: 10px;
	 right: 2px;
	 width: 15px;
	 height: 2px;
	 background-color: #333;
	 transform: rotate(-45deg);
}
 .modal2-close:hover {
	 opacity: 0.5;
}
 .is-open {
	 opacity: 1;
	 visibility: visible;
	 transition-delay: 0s;
	 animation: fade-scale 250ms ease-out;
}
 
/* end of Modal */
/* table */
.table td{
  vertical-align: middle;
}
/* end of table */
/* dropdown */
.dropdown-content {
  display: none;
  margin-bottom: 10px;
  margin-left: 15px;
}
.show {
  display: block;
}
/* end of dropdown */
.btn {
  padding: 7px 10px;
}