<%- include("./partials/header") %>
    <div class="aboutus hey">
        <div class="confet" style="overflow: visible">
        
        <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start" id="navbar">
    
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <i class="fas fa-stream"></i>
    </button>
    <a class="nav-link logo" href="/"><img src="/images/logo.png" class="pop" width="170px;"
            ></a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav midnav">
            
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTS</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start ">
            <li class="nav-item but1"><a class="nav-link" href="/investor">
                    <div class="navbut bt1 pop">
                        <h3>JOIN AS AN INVESTOR</h3>
                    </div>
                </a> </li>
            <li class="nav-item but2"><a class="nav-link" href="/entrepeneur">
                    <div class="navbut bt2 pop">
                        <h3>SUBMIT AN IDEA</h3>
                    </div>
                </a> </li>
        </ul>
    </div>
</nav>
        
        <div class="container content intro pop" style="overflow: visible;">
            <div class="row" style="overflow: visible;">
                <div class="col-md-6">
                    <h2>ABOUT US</h2>
                    <p>Anda was begun in XYZ with the mean to help individuals who seek
to think beyond practical boundaries. ANDA is an online stage that advances the
client's thoughts from its idea to Creation and delivery. ANDA gives a stage to
fund-raise for your thought. We have effectively assisted x with the numbering of
yearning individuals, and the excursion proceeds.</p>
                </div>
                <div class="col-md-6" style="overflow: visible;">
                    <img src="images/goal.png" class="pop">
                </div>
            </div>
        </div>
       
    </div>
    </div>
    
    
        <div class="asection2 pop">
        <div class="p-5">
             <h2 class="head pop">WHAT WE DO</h2>
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6">
                    <div class="whbg">
                    <img src="images/Conceptchick.png" width="100" class="concept-chick pop full-circle">
                    <h2>CONCEPT</h2>
                    <p>Anda does not just overcome any barrier between the trailblazer and the Investors, it
helps in conceptualizing the thought. We groom the thought with our serious level
exploration and long periods of involvement. ANDA group groom the thoughts up to a
level that we can introduce it to the speculators and it can make due in the market.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="whbg">
                    <h2 class=" htop">PROTOTYPE</h2>
                    <p>On the off chance that you need your plan to look alive, at that point, you unquestionably
                        need a Prototype, and here at ANDA, we help you in that cycle. We have an ideal
                        organization of individuals who realize the prototyping cycle and they will assist you with
                        excursions to make your thought alive.</p>
                    <img src="images/protochick.png" width="100" class="chck pop">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="whbg">
                    <img src="images/prodchick.png" class="pop" width="75">
                    <h2>PRODUCTION</h2>
                    <p>Each product needs to get to the market. Indeed, ANDA gives you the best creation
                        strategies at an entirely sensible expense. Your product should arrive at the market in
                        the most ideal manner with a low costing cost and ANDA causes you to do that.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="whbg">
                    <h2 class="htop">SHIPPING</h2>
                    <p>Need your product to be conveyed at the client's entryway quickly. We got
                        this, ANDA has tie-ups with extraordinary compared to other conveyance organizations
                        which are known for their less expensive and quick administrations.</p>
                    <img src="images/shipchick.png" width="110" class="chck pop">
                    </div>
                </div>
            </div>
        </div>
    </div>
        
   
    <div class="abbody desk pop ">
        <div class="pills">
        <div class="pill1 pill ">
            <h2>HAVE AN IDEA</h2>
            <p>Have an idea in mind but don’t know where to start from, THIS is the
                right choice. No matter how rough or basic your idea is to submit it to ANDA and we will
                help you out with the right kind of FUNDA to start with.</p>
            <a><button >SUBMIT</button></a>
        </div>
        <div class="pill2 pill">
            <div class="pill2con ">
            <h2>ADOPT AN IDEA</h2>
            <p>Ideas can lead to wonderful innovations and unlock a whole lot of
                wealth. Add wings to implement the ideas by adopting and supporting them.
                RAISE.</p>
            <a><button >SUBMIT</button></a>
                </div>
        </div>
        <div class="pill3 pill ">
            <h2>RAISE MONEY</h2>
            <p>Have the idea in mind but don’t know where to collect the funds
                from or how you will raise money for production, designing, and everything in
                between? We got you here, we at ANDA aim to connect start-ups with investors
                and help you raise money to kick-start your business and reach heights.</p>
            <a><button >SUBMIT</button></a>
        </div>
    </div>
    </div>
    
    <div class="abbody mobile">
        <div class="mobile" style="overflow: visible;">
            <div class="ppill ppill1" style="overflow: visible;">
                
            <h2>HAVE AN IDEA</h2>
            <p>Have an idea in mind but don’t know where to start from, THIS is the
                right choice. No matter how rough or basic your idea is to submit it to ANDA and we will
                help you out with the right kind of FUNDA to start with.</p>
            <a><button >SUBMIT</button></a>
        
            </div>
            
            <div class="ppill ppill2" style="overflow: visible;">
                
            <h2>ADOPT AN IDEA</h2>
            <p>Ideas can lead to wonderful innovations and unlock a whole lot of
                wealth. Add wings to implement the ideas by adopting and supporting them.
                RAISE.</p>
            <a><button >SUBMIT</button></a>
        
            </div>
            
            <div class="ppill ppill3" style="overflow: visible;">
                
            <h2>RAISE MONEY</h2>
            <p>Have the idea in mind but don’t know where to collect the funds
                from or how you will raise money for production, designing, and everything in
                between? We got you here, we at ANDA aim to connect start-ups with investors
                and help you raise money to kick-start your business and reach heights.</p>
            <a><button style="cursor: pointer">SUBMIT</button></a>
        
            </div>
            
        </div>
    </div>

<!--    section a4-->
    <div class="asec4 ">
        <h2>Our Members</h2>
        
        <div class="container" style="overflow: visible;">
            <div class="row" style="overflow: visible;">
                
                <div class="col-md-3" style="overflow: visible;">
                    <div class="card"  style="overflow: visible;">
                        <div class="front">
                            <img src="images/per1.jpg">
                        </div>
                        <div class="back">
                            <div class="details">
                                <h2>John Doe<br><span>Senior Developer</span></h2>
                                <div class="social-icons">
                                    <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3" style="overflow: visible;">
                    <div class="card" style="overflow: visible;">
                        <div class="front">
                            <img src="images/per2.jpg">
                        </div>
                        <div class="back">
                            <div class="details">
                                <h2>John Doe<br><span>Senior Developer</span></h2>
                                <div class="social-icons">
                                    <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3" style="overflow: visible;">
                    <div class="card " style="overflow: visible;">
                        <div class="front">
                            <img src="images/per3.jpg">
                        </div>
                        <div class="back">
                            <div class="details">
                                <h2>John Doe<br><span>Senior Developer</span></h2>
                                <div class="social-icons">
                                    <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3" style="overflow: visible;">
                    <div class="card " style="overflow: visible;">
                        <div class="front">
                            <img src="images/per4.jpeg">
                        </div>
                        <div class="back">
                            <div class="details">
                                <h2>John Doe<br><span>Senior Developer</span></h2>
                                <div class="social-icons">
                                    <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </div>
    
<%- include("./partials/footer") %>