<%- include("./partials/header") %>
  <style>
    div {
      overflow: hidden;
    }
  </style>      
       <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start" style="z-index: inherit 999;" id="navbar">
    
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <i class="fas fa-stream"></i>
    </button>
    <a class="nav-link logo" href="/"><img src="/images/logo.png" class="pop" width="170px;"
            ></a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav midnav">
            
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTS</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a> 
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">More</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/entrepreneurlogin"> Login </a></li>
                <li><a class="dropdown-item" href="/entrepreneurregister"> Register </a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start ">
            <li class="nav-item but1"><a class="nav-link" href="/#investor-redirect">
                    <div class="navbut bt1 pop">
                        <h3>JOIN AS AN INVESTOR</h3>
                    </div>
                </a> </li>
            <li class="nav-item but2"><a class="nav-link" href="/#uploadIdea">
                    <div class="navbut bt2 pop">
                        <h3>SUBMIT AN IDEA</h3>
                    </div>
                </a> </li>
        </ul>
    </div>
</nav>
       
    <div class="faq hey ">
            <div class="container content hey">
                <img src="/images/bluechick.png" width="200px;">
                <h2>READ OUR FAQS</h2>
            </div>
      
    </div>
    
<!--    section1 -->
    <div class="fsec1 home">
        <div class="accordion" id="accordionExample">
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Question) A. What is ANDA and how does it work? <br>
          B. How do I raise funds?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body ">
        Sign up on ANDA. <br>
Fill up the form. <br>
Click the submit button and if your campaign is approved, it will go live in 2-3 <br>
days.
      </div>
    </div>
  </div>
            
  
            
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading2">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
           Question) How long can i run the campaign?
        </button>
      </h2>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body ">
        Though there is no specified time period for the same but usually it is 30 days and it can
be changed as per your connivance.
      </div>
    </div>
  </div>
            
    <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading3">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
           Question) Can the goal amount be changed?
        </button>
      </h2>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
      <div class="card-body ">
        Absolutely yes, just drop us a email and we will do it for you.
      </div>
    </div>
  </div>
            
        <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading4">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
           Question) What is crowd funding and how it works?
           Crowd
        </button>
      </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body ">
        Crowd funding is the practice of raising money for a social cause or project or venture by <br>
        collecting small contributions from a large number of people, typically via the Internet. <br>
        ANDA helps anyone create an online fundraiser for his/her needs and seek help from <br>
        people across the globe.
      </div>
    </div>
  </div>
            
            <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading5">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
           Question) Why should i join ANDA?
        </button>
      </h2>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body ">
        No matter if are a start-up, an individual or an investor looking out for right choices to <br>
make for your business or personal growth , we got you here. We at ANDA aim to help <br>
who seek to think beyond practical boundaries. From fund raising to product designing  <br>
and everything in between we got it covered for you with the best team. Sign in to take <br>
the advantage of the site and add wings to your ideas.
      </div>
    </div>
  </div>
            
            <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading6">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
           Question) How to become a part of ANDA?
        </button>
      </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body ">
        You can follow ANDA on Facebook, instagram and twitter to stay up-to-date with our <br>
ongoing fundraisers and the causes we support. You can explore these fundraisers on <br>
our website and determine which causes you’re passionate about. To help the causes <br>
you’re passionate about, you can donate to the fundraisers. <br>
      </div>
    </div>
  </div>
            
            <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading7">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
           Question) How do i the creator of fundraiser are real and so is there cause ?
        </button>
      </h2>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
      <div class="card-body ">
        We at ANDA have a strict process and a background check before we put up any <br>
campaigns on our website, all the identities have been approved and checked you can <br>
donate without any worry. <br>
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading8">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
           Question) What are the fees that we need to pay to put our campaign on ANDA?<br>
           When and how do i receive my funds?<br>
           What are the various payment methods offered by impact guru?
        </button>
      </h2>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
      <div class="card-body ">
        To ensure you don’t miss out on any potential donor, we have multiple payment options to <br>
        facilitate a smooth transaction. Donors to your fundraiser can pay through the following options:<br>
        All credit cards including VISA, Mastercard, American Express, Discover, Maestro<br>
        All debit cards including VISA, Mastercard, Rupay<br>
        Netbanking<br>
        All major wallets - PayTM, Ola Money etc.<br>
        NEFT/RTGS/IMPS transfers<br>
        UPI
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading9">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
           Question) I have received my funds, what should I do next?
        </button>
      </h2>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
      <div class="card-body ">
        That’s great you can put us an email to get your funds transferred to your account and if <br>
you need more help such as for product designing, shipping and everything we have the <br>
best team for that as well. Contact us to know more. 
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading10">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
           Question) How to cancel my subscription or delete my account?
        </button>
      </h2>
    </div>
    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
      <div class="card-body ">
        If you wish to cancel your subscription or delete your account drop us an email at xyz but<br>
keep in mind that once your account is deleted, there is no way for us to retrieve it even <br>
on the back end. We do have an option to hide your profile from public view so you can<br>
get back to it whenever you want. Just let us know.<br>
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading11">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
           Question) How to get funding for my idea!...? 
           <br>And there are no. of ideas, how I will get the funding?
        </button>
      </h2>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body ">
        Market is a bouquet of flowers and investors are the one who is going to pick up the bouquet of<br>
        flowers. Who he or she likes the most, Crowd funding is same, the more people will like your<br>
        idea, the more they will get interested and DONE! - that's how funding is generated.<br>
        Seed funding =crowd funding<br>
        Startups have to pitch the needs of the consumers and how you present your ideas to public is<br>
        one of the major part within entrepreneurship.<br>
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading12">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
           Question) What is an investor looking for? 
        </button>
      </h2>
    </div>
    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
      <div class="card-body ">
        An investor looks out for an idea that will help the startup to come up with great ideas and then
he or she will invest. The final output of idea must be innovative that will make a change within
any specific domain and also they look for profit too in the future so, investment and profit will go
hand in hand.
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading13">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
           Question) How we will find an investor for your idea? 
        </button>
      </h2>
    </div>
    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
      <div class="card-body ">
        Initially we look at the idea about what it is all about and related to that domain we<br>
        approach to people who are within it. They can be public or an individual<br>
        -Tell them the few glimpse of idea and output<br>
        -Then their output about what change they would like to prefer and opinion about<br>
        the idea.
      </div>
    </div>
  </div>
  <div class="card pop" style="border-radius: 15px;">
    <div class="card-header" id="heading14">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
           Question) How much will they invest? 
        </button>
      </h2>
    </div>
    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
      <div class="card-body ">
        It depends upon the idea. The crowd funding is like seed funding So,this is for small initial
startups and if the idea is unique then the individual will invest in more amount.
      </div>
    </div>
  </div>
            
<div class="card pop" style="border-radius: 15px;">
  <div class="card-header" id="heading15">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
         Question) Do we have to repay the investment?
      </button>
    </h2>
  </div>
  <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
    <div class="card-body ">
      Investment in startups doesn't mean that you will have to compulsory pay the invested money
but more to investors. The output of the idea will give out as per the pitch and then we decide
weather to pay or to upgrade it.
    </div>
  </div>
</div>
          
<div class="card pop" style="border-radius: 15px;">
  <div class="card-header" id="heading16">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
         Question) Do you have to update the investor for progress of idea ?
      </button>
    </h2>
  </div>
  <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordionExample">
    <div class="card-body ">
      It depends upon the investor weather he or she wants too or need the output only.
    </div>
  </div>
</div>
<div class="card pop" style="border-radius: 15px;">
  <div class="card-header" id="heading17">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
         Question) What after investment ?
      </button>
    </h2>
  </div>
  <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordionExample">
    <div class="card-body ">
 Ones they invest,then we start to work on the product or idea about <br>
-prototype <br>
- government documents needed<br>
 -marketing and advertisements ,etc.<br>
Still the brand gets developed
    </div>
  </div>
</div>
<div class="card pop" style="border-radius: 15px;">
  <div class="card-header" id="heading18">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
         Question) Why to join A.N.D.A as an investor?
      </button>
    </h2>
  </div>
  <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordionExample">
    <div class="card-body ">
      A.N.D.A works on the startups containing innovative ideas and we continue with them until they
don't get the desire so, from A to Z of startup.
    </div>
  </div>
</div>
<div class="card pop" style="border-radius: 15px;">
  <div class="card-header" id="heading19">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
         Question) What we do for the startups?
      </button>
    </h2>
  </div>
  <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordionExample">
    <div class="card-body ">
- finding an investor <br>
- development of product and idea<br>
- brand management<br>
    </div>
  </div>
</div>
<% faq.forEach((item)=> { %>
    <div class="card pop" style="border-radius: 15px;">
      <div class="card-header" id="heading18">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
            Question) <%= item.question %>
          </button>
        </h2>
      </div>
      <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordionExample">
        <div class="card-body ">
          <%= item.answer %>
        </div>
      </div>
    </div>
<% }); %>
      
</div>
          
</div>
    
<%- include("./partials/footer") %>
