<%- include("./partials/header") %>
<style>
    div {
        overflow: hidden;
    }
</style>
    <div id="preloader">
        <div id="status">&nbsp;</div>
      </div>
<!--    Hero Section-->
   <div class="herosec hey ">
       
       <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start" id="navbar">
    
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <i class="fas fa-stream"></i>
    </button>
    <a class="nav-link logo" href="/"><img src="/images/logo.png" class="pop" width="170px;"
            ></a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav midnav">
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTS</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start ">
            <li class="nav-item but1"><a class="nav-link" href="/investor">
                    <div class="navbut bt1 pop">
                        <h3>JOIN AS AN INVESTOR</h3>
                    </div>
                </a> </li>
            <li class="nav-item but2"><a class="nav-link" href="/#uploadIdea">
                    <div class="navbut bt2 pop">
                        <h3>SUBMIT AN IDEA</h3>
                    </div>
                </a> </li>
        </ul>
    </div>
</nav>
       
       <div class="heromain content hey pop">
           <div class="container content animate-top">
          <div class="row justify-content-center" style="overflow: visible;">
                            
              <div class="col-md-6">
                
                <h1>
                    <span class="rubber" >a.</span>    
                    <span class="rubber">n.</span>    
                    <span class="rubber">d.</span>    
                    <span class="rubber">a.</span>
                    </h1>
                <h2>A. New. Dream. Aspired.</h2>
                   <p>Where Inspiration meets Inventions.</p>
                    
                    <div class="buttons">
  <button class="pulse">Join Us</button>
  <button class="pulse">Learn More</button>
</div>
              </div>  
              <div class="col-md-6 hello align-self-center animate-right" style="overflow: visible;"><img src="/images/mainpic.png" class="pop"></div>
           </div>   
             
           </div>
        
       </div>
       
       
    </div>
    
    <div class="mainbody animate-top">
    
<!--    Section 1-->
    <div class="section1 pop">
        <h2>TOP PRODUCTS</h2>
        <div>
            
            <section id="slider">
              <input type="radio" name="slider" id="s1">
              <input type="radio" name="slider" id="s2">
              <input type="radio" name="slider" id="s3" checked>
              <input type="radio" name="slider" id="s4">
              <input type="radio" name="slider" id="s5">
                
              <label for="s1" id="slide1"></label>
              <label for="s2" id="slide2"></label>
              <label for="s3" id="slide3"></label>
              <label for="s4" id="slide4"></label>
              <label for="s5" id="slide5"></label>
              
            </section>
        </div>
    </div>
    
<!--    Section 5-->
    <div class="section5">
        <div class="container">
            <div class="row justify-content-between" id="uploadIdea">
                <div class="col-md-6 col-sm-12 animate-left pop">
                    <div class="idea1 idea2">
                    <h2>NOOB</h2>
                    <p>Got some basic ideas? Want to see your idea turned into a life-changing
                        product? We have got you covered. ANDA provides the best team of consultants
                        and innovators to groom your concept, which will take your idea to the real world.
                        So put your contemplations on here and sit relaxed.</p>
                    <a href="/idea/add"><button class="btn btn-lg btn-outline-dark">SUBMIT AN IDEA</button></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 animate-right pop">
                    <div class="idea1 ">
                    <h2>PRO</h2>
                    <p>Got some incredible thoughts? In the process that you have buckled down
                        and investigated your thought or need to change over your idea into a prototype,
                        however, don't have a clue how to get your plan to market, don't have the
                        foggiest idea how to interface with investors and manufacturers. We got this,
                        ANDA gives the most productive stage to convey to manufacturers and investors.
                        We will assist you with the trip preparing your thought and getting assets for you.
                        ANDA will offer wings to your ideas.</p>
                    <button class="btn btn-lg btn-outline-dark">SUBMIT A PRODUCT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
    <!--    Section 2-->
    <div class="presec pop">
<!--        <h6>Hello</h6>-->
    </div>
     <div class="section2 animate-top">
        <h2>What We Do</h2>
        <div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="/images/Concept.png" class="rotate">
                <p>Concept</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="/images/Prototype.png" class="rotate">
                <p>Prototype</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="/images/Production.png" class="rotate">
                <p>Production</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="/images/Shipping.png" class="rotate">
                <p>Shipping</p>
            </div>
        </div>
    </div>
</div>
    </div>
    

    
<!--    section 3-->
    <div class="section3 pop">
        <div class="container">
            <img src="/images/hands.png" class="pop">
            <h2>CROWD FUNDING</h2>
            <p>Have an idea,  but don't know how to get funded well,
A.N.D.A is the answer.
With crowdfunding A.N.D.A provides the best to initiate your idea with trust. Start your idea with ease.</p>
            
            <button class=" btn btn-lg btn-outline-dark">GO TO CAMPAIGN</button>
        </div>
    </div>
  
<!--    Section 4-->
    <div class="section4 hey">
        <div class="container pop" style="overflow: visible">
            <div class="row" style="overflow: visible">
                <div class="col-md-6">
                    <div>
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p>Fabulas iis summis proident ita de ipsum excepteur hic quem occaecat aut 
                            consequat, ne est nisi litteris, in cillum ingeniis transferrem, ex lorem 
                            despicationes si litteris eu enim, quem iudicem aliquip. Mandaremus do appellat 
                            ne mentitum de dolor.</p>
                        <div class="buttons">
  <button class="pulse">Join Us</button>
  <button class="pulse">Learn More</button>
</div>
                    </div>
                </div>
                <div class="col-md-6 swag" style="text-align: center">
                    <img src="/images/swag.png" class="pop">
                </div>
            </div>
        </div>
    </div>
    
<%- include("./partials/footer") %>
