<%- include("./partials/header") %>
    <div class="invest home">
        
       <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start" id="navbar">
    
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <i class="fas fa-stream"></i>
    </button>
    <a class="nav-link logo" href="/"><img src="/images/logo.png" width="170px;"
            ></a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav midnav">
        
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTS</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start ">
            <li class="nav-item but1"><a class="nav-link" href="/investor">
                    <div class="navbut bt1 pop">
                        <h3>JOIN AS AN INVESTOR</h3>
                    </div>
                </a> </li>
            <li class="nav-item but2"><a class="nav-link" href="/#uploadIdea">
                    <div class="navbut bt2 pop">
                        <h3>SUBMIT AN IDEA</h3>
                    </div>
                </a> </li>
        </ul>
    </div>
</nav>
       
            
            <div class="container content pop">
                <img src="/images/hands.png">
                <p>Elit iudicem eiusmod, iis aliquip sempiternum. Do ut efflorescere non aliqua 
                    admodum graviterque.</p>
                
                <button>FIND A PROJECT</button>
            </div>
      
    </div>
    
    
<!--    SECTION 1-->
    <div class="isec1 hey pop">
        <div class="con">
        <h2>LOREM IPSUM</h2>
        <p>Si nostrud ab iudicem, tempor multos quorum incurreret tamen, se quis cernantur 
            excepteur, ab e irure culpa sint, hic velit fabulas qui cernantur multos 
            proident hic qui admodum firmissimum sed non possumus adipisicing. Sint appellat 
            se senserit. Voluptate ut quibusdam, a incididunt do ullamco, multos an 
            mandaremus a quis ita pariatur aut labore. Ut non eruditionem, dolor de ea nisi 
            proident de fore singulis ab distinguantur, do do distinguantur. Quorum laboris 
            appellat ita senserit minim cillum o ipsum, in qui quem ingeniis se voluptate eu 
            velit, ex si cillum anim aliqua ad tamen a mentitum id quae qui quae ut nostrud 
            qui aliqua ullamco hic eram esse. Ea enim laborum singulis, eram ingeniis ut 
            culpa esse, ad incididunt firmissimum, fore appellat sed labore multos.</p>
            </div>
    </div>
    
<!--    section 2-->
    <div class="isec2 pop">
        <h2>LOREM IPSUM</h2>
        <p>Quid vidisse eu graviterque ea te culpa mentitum. Eu nisi reprehenderit, sed 
            nisi nulla do excepteur.</p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="options full-circle">
                        <h3>BACK IT UP</h3>
                        <img src="/images/BackIt.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="options full-circle">
                        <h3>PRE-SELL</h3>
                        <img src="/images/Pre-Sell.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="options full-circle">
                        <h3>PRE-ORDER</h3>
                        <img src="/images/Pre-Order.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="options full-circle">
                        <h3>INVEST &amp; SUPPORT</h3>
                        <img src="/images/Invest&Support.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--    section 3-->
    <div class="isec3 pop">
        <h2>TOP PRODUCTS</h2>
        <div>
            
            <section id="slider">
              <input type="radio" name="slider" id="s1">
              <input type="radio" name="slider" id="s2">
              <input type="radio" name="slider" id="s3" checked>
              <input type="radio" name="slider" id="s4">
              <input type="radio" name="slider" id="s5">
                
              <label for="s1" id="slide1"></label>
              <label for="s2" id="slide2"></label>
              <label for="s3" id="slide3"></label>
              <label for="s4" id="slide4"></label>
              <label for="s5" id="slide5"></label>
              
            </section>
        </div>
    </div>
    
<%- include("./partials/footer") %>
